body{
    background-color: #0a192f;
    color: #8892b0;
    font-size: medium;
    margin: 5px;
  }
  .ul{
    list-style: none;
  }
  
  
  /* Styling for the loading circle */
  .loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure it's on top of other content */
  }
  .loading-circle {
    
    width: 100px; /* Set the desired width for the circle */
    height: 100px; /* Set the desired height for the circle */
    border: none; /* Initially, no border */
    border-radius: 50%; /* Make it a circle */
    animation: createCircle 2s infinite linear; /* Apply the circle creation animation */
  }
  
  @keyframes createCircle {
    0% {
        transform: rotate(0deg);
        border-top: 5px solid #64ffda;
    }
    25% {
        transform: rotate(90deg);
        border-right: 5px solid #64ffda;
    }
    50% {
        transform: rotate(180deg);
        border-bottom: 5px solid #64ffda;
    }
    75% {
        transform: rotate(270deg);
        border-left: 5px solid #64ffda;
    }
    100% {
        transform: rotate(360deg);
        border-top: 5px solid #64ffda;
    }
  }
  
  .navbar-toggler {
    border-color:#0a192f  /* Change to your desired border color */
  }
  .navbar-toggler-icon {
    background-image: url('/public/list.svg');
    background-repeat: no-repeat;
  }
  
  .navbar-toggler:focus {
   box-shadow: none;
   border-color: #64ffda
  
  }
  
  
  
  .navb{
    background-color: rgba(10, 25, 47, 0.85);
    height: 100px;
  }
  
  .ulnav{
      display: flex;
      justify-content: space-between;
      column-gap: 20px;
      font-family: sans-serif;
  }
  
  .ulnav li a:focus{
    color: white;
  }
  
  .circle {
   /* Should be the same as width to create a perfect circle */
    background-color: #0a192f; /* Circle background color */
    border-radius: 50%; /* Creates a circle */
    border: solid 3px #64ffda;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Clip content that goes beyond the circle */
  }
  
  .logo-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transform: scale(1.5);
    transition: transform 0.3s ease; 
  }
  
  .logo-img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.9);
  }
  
  /* Basic button styling */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; 
    color: #64ffda; /* Button text color */
    text-decoration: none; /* Remove underline from the link */
    border: 2px solid #64ffda;
    transition: transform 0.3s ease; /* Add a transition effect to the transform property */
    border-radius: 5px; /* Add rounded corners */
  }
  
  /* Style when hovered */
  .btn:hover {
    transform: translate(-5px, -5px); /* Move the button up and to the left */
    box-shadow: 5px 5px 15px #64ffda; /* Add a box shadow for depth */
    color: #64ffda;
    border: 2px solid #64ffda;
  }
  
  /* side navigation */
  .side-nav{
  position:fixed;
  bottom: 0px;
  left: 20px;
  }
  .ul-side{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  .ul-side li a{
    padding: 10px;
    display: inline-block;
    color: inherit;
    transition: transform 0.3s ease;
  }
  
  .ul-side li a:hover{
    transform: translate(-5px);
    color: #64ffda;
  }
  
  .ul-side li:last-of-type{
    margin-bottom: 20px;
  }
  
  .ul-side::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: white;
  }
   /* footer navigation */
   .footer-nav{
    display: none;
   }
  /*side navigation responsiness */
  @media (max-width: 768px) { 
    .side-nav{
      display: none;
    }
     /* footer navigation */
     .footer-nav{
      display: flex;
      justify-content: center;
      width: 100%;
        position: fixed;
        bottom: 0px;
    }
    .ul-footer{
      display: flex;
      list-style: none;
      justify-content: space-between;
      column-gap: 20px;
      align-items: center;
      margin-bottom: 20px;
      padding: 0px;
    }
    .ul-footer li a{
      padding: 10px;
      display: inline-block;
      color: inherit;
      transition: transform 0.3s ease;
    }
    
    .ul-footer li a:hover{
      transform: translate(-5px);
      color: #64ffda;
    }
     /* top nav bar adjust height */
    .navb{
      height: auto;
    }
   }
  
  
  
  
  

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  